<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="container">
      <div class="navbar"><span class="cart-icon"> shopping_cart </span></div>

      <!-- Product List -->
      <div class="products-list">
        <% products.forEach(function(product) { %>
        <!-- Product -->
        <div class="product">
          <!-- Product Image -->
          <div class="product__image">
            <img src="/images/product-image.webp" class="product__image" />
            <button class="cart__button cart__button--list" data-add-product>
              Add
            </button>
          </div>
          <!-- End Product Image -->
          <div class="product__title"><%= product.title %></div>
          <div class="product__price"><%= product.formattedPrice %></div>
          <div class="product__rating">
            <div class="rating">
              <span class="rating__star"> star </span>

              <span class="rating__star"> star </span>

              <span class="rating__star"> star </span>

              <span class="rating__star"> star </span>

              <span class="rating__star"> star </span>
            </div>
            <div class="rating__total">(<%= product.ratings %>)</div>
          </div>
        </div>
        <!-- End Product -->
        <% }); %>
      </div>
      <!-- End Product List -->

      <!-- Cart -->
      <div class="cart">
        <!-- Cart Close -->
        <div class="cart__close">
          <span class="close-icon"> close </span>
        </div>
        <!-- End Cart Close -->

        <!-- Cart Content -->
        <div class="cart__content">
          <!-- Cart Products -->
          <div class="cart__products">
            <!-- Cart Empty -->
            <div class="cart__empty" data-empty-cart>
              <img src="/images/empty cart.png" />
              <div class="empty__title">Your bag is empty</div>

              <div class="empty__subtitle">
                Looks like you haven’t added any items to the bag yet. Start
                shopping to fill it in.
              </div>
            </div>
            <!-- End Card Empty -->

            <!-- Card Total Items -->
            <div class="cart__total-items" data-not-empty-cart>
              <span class="cart__total-label"> Total Items: </span>
              <span class="cart__total-value"> 0 </span>
            </div>
            <!-- End Card Total Items -->
          </div>
          <!-- End Cart Products -->

          <!-- Cart Actions -->
          <div class="cart__actions">
            <button class="cart__button" data-empty-cart>start shopping</button>
            <button
              class="cart__button cart__button-secondary"
              data-not-empty-cart
            >
              go to checkout
            </button>
            <div class="cart__summary" data-not-empty-cart>
              <!-- Summary Item -->
              <div class="summary__item">
                <div class="summary__label">Subtotal:</div>
                <div class="summary__value" data-subtotal>$0.00</div>
              </div>
              <!-- End Summary Item -->

              <!-- Summary Item -->
              <div class="summary__item">
                <div class="summary__label">Shipping:</div>
                <div class="summary__value">$0.00</div>
              </div>
              <!-- End Summary Item -->

              <!-- Summary Item -->
              <div class="summary__item">
                <div class="summary__label">Discount:</div>
                <div class="summary__value">$0.0</div>
              </div>
              <!-- End Summary Item -->

              <!-- Summary Item -->
              <div class="summary__item">
                <div class="summary__label">Grand Total:</div>
                <div class="summary__value" data-grand-total>$0.00</div>
              </div>
              <!-- End Summary Item -->
            </div>
          </div>
          <!-- End Cart Actions -->
        </div>
        <!-- End Cart Content -->
      </div>
      <!-- End Cart -->
    </div>
    <!-- End Container -->
    <script src="/js/script.js"></script>
  </body>
</html>
